@charset "utf-8";

.wrap{ width:1200px; margin:  auto;}
.container{ width: 840px; margin: 0 auto;}
/* 운영 방법 & 예약 */
section.operate{ padding: 100px 0;}
section.operate ul{ margin-top: 38px; text-align: center;}
section.operate ul li{ line-height: 36px; font-size: 20px;}

/* 운영 시간 & 예약 */
/* section.open_time{ } */
section.open_time div{ width: 260px; height: 162px; float: left; border: 1px solid #c7c7c7; box-sizing: border-box; margin-top: 38px;}
section.open_time div~div{ margin-left: 30px;}
section.open_time div strong{ display: block; font-size: 20px; font-weight: normal; text-align: center; padding: 16px 0 5px 0;}
section.open_time div.week strong{ padding-bottom: 40px;}
section.open_time div p{ text-align: left; padding-left: 20px;}
section.open_time div span{ text-align: right; padding-right: 20px; float: right;}
section.open_time div.weekend em{ display: block; text-align: center; line-height: 22px; font-size: 14px;}
section.open_time div.day_off{ padding-top: 52px;}

/* 상담 서비스 */
section.service{ padding: 100px 0;}
section.service div{ width: 260px; height: 110px; border-radius: 10px; background: #f7edd0; float: left; margin-top: 38px;} 
section.service div:hover{ background: #dee6b6; box-shadow: 6px 6px 10px rgba(114, 91, 23,0.15);}
section.service div~div{ margin-left: 30px;}
section.service div strong{ display: block; padding: 20px;}
section.service div p{ float: right; margin: 0 20px;}

/* 비용 및 상담 문의 */
section.cost{ background: #dee6b6; padding-bottom: 100px; background-clip: content-box;}
section.cost h2{ padding: 30px 0 38px;}
section.cost div{ width: 496px; height: 382px; margin: 0 auto;}
section.cost div input{ width: 100%; height: 46px; font-size: 20px; margin-bottom: 16px; border: 1px solid #c7c7c7; border-radius: 0;}
section.cost div select{ width: 502px; height: 52px; padding: 0 18px; box-sizing: border-box; font-size: 20px; margin-bottom: 16px;  border: 1px solid #c7c7c7; border-radius: 0;}
section.cost button{ width: 289px; height: 46px; background-color: #fff; border: 1px solid #c7c7c7; display: block; margin: 30px auto 0; font-size: 22px; cursor: pointer;}